<h1>All Shelters</h1>

<% @shelters.each do |shelter| %>
  <section id="shelter-<%= shelter.id %>">
    <h3><%= link_to shelter.name, "/shelters/#{shelter.id}" %></h3>
    <p><%= link_to "Edit", "/shelters/#{shelter.id}/edit" %></p>
    <p><%= link_to "Delete", "/shelters/#{shelter.id}", method: "delete" %></p>
  </section>
<% end %>
<p><%= link_to "New Shelter", "/shelters/new" %></p>
