<%= link_to "Shelter Index", "/shelters" %>
<h2><%= @shelter.name %></h2>
<p><%= @shelter.address %></p>
<p><%= @shelter.city %></p>
<p><%= @shelter.state %></p>
<p><%= @shelter.zip %></p>
<%= link_to "Update", "/shelters/#{@shelter.id}/edit" %>
<%= button_to "Delete", "/shelters/#{@shelter.id}", method: "delete" %>
