<h2><%= image_tag @pet.image %></h2>
<p><%= @pet.name %></p>
<p><%= @pet.description %></p>
<p><%= @pet.approximate_age %></p>
<p><%= @pet.sex %></p>
<p><%= @pet.adoptable? %></p>
<%= link_to "Update", "/pets/#{@pet.id}/edit" %>
