<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <section id="pets-link">
      <h2><%= link_to "All Pets", "/pets" %></h2>
    </section>
    <section id="shelters-link">
      <h2><%= link_to "All Shelters", "/shelters" %></h2>
    </section>

    <%= yield %>
  </body>
</html>
